@import "@/themes/Basic.scss";
$dark1:#101010;
$dark2:#18181B;

$gray1:#3A4650;
$gray2:#3F3F46;
$gray3:#909092;
$gray4:#A1A1AA;
$gray5:#ECEBE8;
$gray6:#E5E7EB;
$gray7:#e3e3e3;

$orange:#f07623;
$blue1:#4B95E9;
$red1:#cc3939;
$red2:#ff5555;
$red3:#ff8080;
$green1:#26ce9a;
$green2:#1c463c;
$green3:#192e26;

$backgroundColor:$dark1;
$backgroundHighlightColor:$dark2;
$cardColor:$dark2;
$buttonPrimaryColor:$green1;
$textBoldColor:$gray7;
$textColor:$gray5;
$textHightLightColor:$gray6;
$InputBackgroundColor:$gray2;
$InputBorderHighlightColor:$green1;
$InputDisabledColor:$gray3;

$SuccessColor:$green1;
$DangerColor:$green1;
$WarningColor:$green1;
$DefaultColor:$green1;
$PrimaryColor:$green1;
$SecondaryColor:$green1;
$TertiaryColor:$green1;
$InfoColor:$green1;

$DefaultTextColor:white;
$SuccessTextColor:$green1;
$DangerTextColor:$green1;
$WarningTextColor:$green1;
$PrimaryTextColor:$green1;
$SecondaryTextColor:$green1;
$TertiaryTextColor:$green1;
$InfoTextColor:$green1;
$ErrorTextColor:$red2;
.GreenDark{
    @include Base;
}